<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day16</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DemoServlet01</display-name>
    <servlet-name>DemoServlet01</servlet-name>
    <servlet-class>com.itheima.servlet.DemoServlet01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet01</servlet-name>
    <url-pattern>/DemoServlet01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUserNameServlet</display-name>
    <servlet-name>CheckUserNameServlet</servlet-name>
    <servlet-class>com.itheima.servlet.CheckUserNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserNameServlet</servlet-name>
    <url-pattern>/CheckUserNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServlet02</display-name>
    <servlet-name>DemoServlet02</servlet-name>
    <servlet-class>com.itheima.servlet.DemoServlet02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet02</servlet-name>
    <url-pattern>/DemoServlet02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServlet03</display-name>
    <servlet-name>DemoServlet03</servlet-name>
    <servlet-class>com.itheima.servlet.DemoServlet03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet03</servlet-name>
    <url-pattern>/DemoServlet03</url-pattern>
  </servlet-mapping>
</web-app>