<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HelloWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.itheima.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/a</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloServlet02</display-name>
    <servlet-name>HelloServlet02</servlet-name>
    <servlet-class>com.itheima.servlet.HelloServlet02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet02</servlet-name>
    <url-pattern>/HelloServlet02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloServlet03</display-name>
    <servlet-name>HelloServlet03</servlet-name>
    <servlet-class>com.itheima.servlet.HelloServlet03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet03</servlet-name>
    <url-pattern>/HelloServlet03</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloServlet04</display-name>
    <servlet-name>HelloServlet04</servlet-name>
    <servlet-class>com.itheima.servlet.HelloServlet04</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet04</servlet-name>
    <url-pattern>/HelloServlet04</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>aaa</servlet-name>
    <servlet-class>com.itheima.servlet.HelloServletConfig</servlet-class>
  
  	<!-- 添加初始化参数 -->
  	<init-param>
  		<param-name>name</param-name>
  		<param-value>张三</param-value>
  	</init-param>
  	<init-param>
  		<param-name>age</param-name>
  		<param-value>18</param-value>
  	</init-param>
  	<init-param>
  		<param-name>address</param-name>
  		<param-value>北京</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>aaa</servlet-name>
    <url-pattern>/HelloServletConfig</url-pattern>
  </servlet-mapping>
</web-app>