<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cz.hello.spring.transaction.dao.TbContentCategoryDao">
  <insert id="insert">
        INSERT INTO tb_content_category (
          `parent_id`,
          `name`,
          `status`,
          `sort_order`,
          `is_parent`,
          `created`,
          `updated`
        )
        VALUES
          (
            #{parent.id},
            #{name},
            #{status},
            #{sortOrder},
            #{isParent},
            #{created},
            #{updated}
          );
    </insert>
</mapper>