<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    
   <!-- Spring的入门配置 --> 
   <!-- <bean id="UserDao" class="com.itheima.spring.demo1.UserDaoImpl"></bean> -->
   <bean id="UserDao" class="com.itheima.spring.demo1.UserDaoHibernateImpl"></bean>

</beans>